body, html{
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(53, 93, 145);
}
.gallery-title{
    font-size: 6.8rem;
    margin: 20px;
    padding: 15px;
    color: rgb(252, 242, 169);
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-family: 'Saira Condensed', sans-serif;
    font-family: 'Skranji', cursive;
    text-transform: uppercase;
    text-shadow: 6px 6px rgb(0, 0, 0);
    animation: colors 6s infinite; 
}

@keyframes colors{
    10%{
        color: rgb(255, 253, 124);
    }
    25%{
        color: rgb(255, 109, 104);
    }
    50%{
        color: rgb(227, 85, 255);
    }
    75%{
        color: rgb(101, 220, 250);
    }
    95%{
        color: rgb(165, 255, 112);
    }
}

.card{
    height: 50vh;
    width: 22%;
    background-color: rgb(255, 250, 210);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 3rem 0;
    border-radius: 4%;
    box-shadow: 15px 15px 4px rgb(23, 57, 107);
    transition: all 0.3s;
    filter: grayscale(0.6);
}
.card:hover{
    filter: grayscale(0);
    translate: 0 -20px;
    color: rgb(214, 39, 135) ;
}
.card-title{
    font-size: 2.1rem;
    margin: 2.1rem 0;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    font-family: 'Saira Condensed', sans-serif;
    font-family: 'Skranji', cursive;
}
.card-title:hover{
    transform: rotateX(30deg);
}
.card-img{
    width: 60%;
    object-fit: cover;
    text-align: center;
    height: 65%
}
.card-img:hover{
    transform: translateY(-10px);
    transform:scale(1.1)
}
.card-description{
    font-size: 1.7rem;
    color: rgb(37, 98, 168);
    text-align: center;
}
.card-description:hover{
    transform: skew(-20deg);
}
.container{
    display: flex;
    width: 80vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 1rem auto;
}